In [124]:
import pandas as pd
import sys
import mysql.connector
import os
from dotenv import load_dotenv
load_dotenv()

#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')

In [125]:
import numpy as np

In [126]:
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)

In [127]:
cursor=cnx.cursor(buffered=True)

In [6]:
file=pd.ExcelFile("../BIOSOL oficial 1.xlsx")

In [ ]:
il_parameters=pd.read_excel("../BIOSOL oficial 1.xlsx",sheet_name='Cálculos iluminancia', skiprows = 13, nrows=1,  usecols= np.arange(5,14,1)).fillna(0)

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [93]:
il_parameters

,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,21,-20.138015,29.08,0.344284,211,0.975327,1433.268875,0,90,0.0

In [29]:
query = """
    INSERT INTO iluminancia_parameters
    (dia, mes, juliano, delta, fi, rad, h_m, p_q, i, y, beta)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
  # Obtén los datos de la primera fila del DataFrame
data_tuple = tuple(il_parameters.iloc[0].values)
data_tuple = (21, 1) + data_tuple
#for i in il_parameters:

In [30]:
data_tuple

(21,
 1,
 21.0,
 -20.13801482156758,
 29.08,
 0.34428412642079925,
 211.0,
 0.9753270776338413,
 1433.268874892344,
 0.0,
 90.0)

In [60]:
cursor.execute(query,data_tuple)

MySQLInterfaceError: Python type numpy.int64 cannot be converted

In [32]:
cnx.commit()

In [77]:
placeholders = ", ".join(["%s"] * 58)
query = """
    INSERT INTO iluminancia_mediciones
    (hora """
for i in range(56):
    query=query+', a'+str(i+1)
query=query+f""",mes)
    VALUES ({placeholders})"""

In [71]:
il=pd.read_excel("../BIOSOL oficial 1.xlsx",sheet_name='Cálculos iluminancia', skiprows = 15, nrows=25,  usecols= 'E:BI').fillna(0).iloc[1: , :]

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [78]:
nmes='1'
il=il.assign(mes=nmes)

In [57]:
cursor.execute("INSERT INTO iluminancia_mediciones(hora,a1) values(%s,%s)",(il['hora'].values[0],1))

In [80]:
data_tuple = tuple(il.iloc[0].values)

In [82]:
cnx.commit()

In [81]:
cursor.execute(query,data_tuple)

In [47]:
query

'\n    INSERT INTO iluminancia_parameters\n    (hora , a1, a2, a3, a4, a5, a6, a7, a8, a9, a10, a11, a12, a13, a14, a15, a16, a17, a18, a19, a20, a21, a22, a23, a24, a25, a26, a27, a28, a29, a30, a31, a32, a33, a34, a35, a36, a37, a38, a39, a40, a41, a42, a43, a44, a45, a46, a47, a48, a49, a50, a51, a52, a53, a54, a55, a56, a57,mes)\n    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'

In [133]:
h_x=5
h_y=0
#Cargar los datos con desface horizontal
#TODO: Pendiente resolver desface vertical
il_parameters=pd.read_excel("../BIOSOL oficial 1.xlsx",sheet_name='Cálculos iluminancia', skiprows = 44, nrows=1,  usecols= np.arange(5+h_x*59,14+h_x*59,1)).fillna(0)
query = """
    INSERT INTO iluminancia_parameters
    (dia, mes, juliano, delta, fi, rad, h_m, p_q, i, y, beta)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
  # Obtén los datos de la primera fila del DataFrame
data_tuple = tuple(il_parameters.iloc[0].values)
data_tuple = (21, h_x+7) + data_tuple
cursor.execute(query,data_tuple)
il=pd.read_excel("../BIOSOL oficial 1.xlsx",sheet_name='Cálculos iluminancia', skiprows = 46, nrows=25,  usecols= np.arange(4+h_x*59,61+h_x*59,1)).fillna(0).iloc[1: , :]
placeholders = ", ".join(["%s"] * 58)
query = """
    INSERT INTO iluminancia_mediciones
    (hora """
for i in range(56):
    query=query+', a'+str(i+1)
query=query+f""",mes)
    VALUES ({placeholders})"""
il=il.assign(mes=str(h_x+7))
for i in range(len(il)):
    data_tuple = tuple(il.iloc[i].values)
    cursor.execute(query,data_tuple)
cnx.commit()

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [116]:
cnx.commit()

In [123]:
cnx.close()

In [109]:
cnx.commit()

In [103]:
il=pd.read_excel("../BIOSOL oficial 1.xlsx",sheet_name='Cálculos iluminancia', skiprows = 15, nrows=25,  usecols= np.arange(4+h_x*59,61+h_x*59,1)).fillna(0).iloc[1: , :]

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [106]:
len(il)

24